<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Car Overview</title>
</head>

<body class="p-4 sm:p-6 lg:p-8">

<header>
    <h1 class="text-3xl">Car Overview</h1>

    <p class="py-3">
        <a type="button"
           class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
           href="./build">Build new Car</a>
    </p>
</header>

<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
            <thead>
            <tr>
                <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">VIN</td>
                <td scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Production Date</td>
                <td scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Engine State</td>
                <td scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Actions</td>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <tr th:each="car : ${cars}">
                <!--@thymesVar id="car" type="com.github.geissebn.tacticalddd.model.Car"-->
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"
                    th:text="${car.vin.value}"></td>
                <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500"
                    th:text="${car.productionDate.value}"></td>
                <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500" th:text="${car.engineState}"></td>
                <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">
                    <a type="button"
                       class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                       th:unless="${car.engineState.name() == 'RUNNING'}"
                       th:href="|/action?action=start&vin=${car.vin.value}|">Start</a>
                    <a type="button"
                       class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                       th:unless="${car.engineState.name() == 'STOPPED'}"
                       th:href="|/action?action=stop&vin=${car.vin.value}|">Stop</a>
                    <a type="button"
                       class="rounded-md bg-red-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
                       th:href="|/action?action=demolish&vin=${car.vin.value}|">Demolish</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="fixed bottom-0 left-0 right-0 px-2">
    <p>Watch with
        <a class="underline"
           href="https://www.hivemq.com/demos/websocket-client/?"
           target="_blank">HiveMQ Websocket Client</a>
    </p
    ></footer>
</body>
</html>
